<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Store</title>
</head>

<style>
    body{
        background-color: rgb(182, 186, 182);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
</style>
<body >
    <% for(let game of data){ %>
        <h3><%= game.game_id %>  <%= game.name %>  <%= game.copies_aval %>
            <a href="/store/<%= id %>/rent/<%= game.game_id %>">Rent</a>
            <a href="/store/<%= id %>/return/<%= game.game_id %>">Return</a>
        </h3>
        <% } %>  
        <a href="/newCustomer">New Customer?</a>
        <a href="/store/<%= id %>/addNewGame">Add a New Game</a>
        <a href="/home">Back</a>
</body>
</html>