<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Store</title>
</head>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

    * {
        font-family: 'Ubuntu', sans-serif;
    }

    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* color:white; */
        /* background-color: black; */
    }

    form {
        display: grid;
        width: 40%;
    }

    input {
        height: 35px;
        font-size: 20px;
        font-weight: 500;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid rgb(255, 183, 0);
        padding: 5px;
        width: 80%;
        margin-bottom: 20px;
        transition: width 0.8s 0.2s;
    }

    input:focus {
        font-size: 18px;
        border-bottom: 2px solid red;
        width: 100%;
        outline: none;
    }

    label {
        font-size: 20px;
    }

    button {
        background: none;
        border: 1px solid rgb(4, 113, 255);
        background-color: rgb(113, 162, 226);
        color: white;
        font-size: 20px;
        width: 100px;
        height: 45px;
        padding-inline: 20px;
        border-radius: 5px;
        cursor: pointer;
    }

    a{
        font-size: 14px;
    }

</style>
<body >
    <% for(let game of data){ %>
        <h3><%= game.game_id %>  <%= game.name %>  <%= game.copies_aval %>
            <a href="/store/<%= id %>/rent/<%= game.game_id %>">Rent</a>
            <a href="/store/<%= id %>/return/<%= game.game_id %>">Return</a>
            <a href="/info/<%= game.game_id %>">Info</a>
        </h3>
        <% } %>  
        <a href="/newCustomer">New Customer?</a>
        <a href="/store/<%= id %>/addNewGame">Add a New Game</a>
        <a href="/home">Back</a>
</body>
</html>